# This is an integration test bundle template. The bundle is meant to be deployed
# on an LXD cloud capable of provisioning VMs.

default-base: ubuntu@22.04/stable

applications:
  incus:
    charm: {{ charm_incus }}
    num_units: 3
    to:
      - 0
      - 1
      - 2
    bindings:
      "": alpha
  vault:
    charm: vault
    channel: 1.8/stable
    num_units: 1
    to:
      - lxd:0
    bindings:
      "": alpha
    options:
      auto-generate-root-ca-cert: true
      totally-unsecure-auto-unlock: true

machines:
  0:
    constraints: virt-type=virtual-machine mem=2G
  1:
    constraints: virt-type=virtual-machine mem=2G
  2:
    constraints: virt-type=virtual-machine mem=2G

relations:
  - - incus:certificates
    - vault:certificates
