# This is an integration test bundle template. The bundle is meant to be deployed
# on an LXD cloud capable of provisioning VMs.

default-base: ubuntu@22.04/stable

applications:
  incus:
    charm: {{ charm_incus }}
    num_units: 3
    to:
      - 0
      - 1
      - 2
    bindings:
      "": alpha
    options:
      ceph-rbd-features: layering,deep-flatten
      ovn-uplink-network-type: bridge
      ovn-uplink-network-config: ipv4.address=10.179.176.1/24 ipv4.nat=true ipv4.dhcp=false ipv4.ovn.ranges=10.179.176.2-10.179.176.254
      ovn-network-config: ipv4.nat=true
      create-local-storage-pool: true
      local-storage-pool-driver: btrfs
  vault:
    charm: vault
    channel: 1.8/stable
    num_units: 1
    to:
      - 0
    bindings:
      "": alpha
    options:
      auto-generate-root-ca-cert: true
      totally-unsecure-auto-unlock: true
  ceph-osd:
    charm: ceph-osd
    channel: latest/edge
    num_units: 3
    to:
      - 0
      - 1
      - 2
    bindings:
      "": alpha
    storage:
      osd-devices: loop,5G,1
  ceph-mon:
    charm: ceph-mon
    channel: latest/edge
    num_units: 3
    to:
      - 0
      - 1
      - 2
    bindings:
      "": alpha
  ovn-central:
    charm: ovn-central
    channel: latest/edge
    num_units: 3
    to:
      - 0
      - 1
      - 2
    bindings:
      "": alpha
  ovn-chassis:
    charm: ovn-chassis
    channel: latest/edge
    bindings:
      "": alpha

machines:
  0:
    constraints: virt-type=virtual-machine mem=1536M root-disk=20G
  1:
    constraints: virt-type=virtual-machine mem=1536M root-disk=20G
  2:
    constraints: virt-type=virtual-machine mem=1536M root-disk=20G

relations:
  - - incus:certificates
    - vault:certificates
  - - ceph-osd:mon
    - ceph-mon:osd
  - - incus:ceph
    - ceph-mon:client
  - - ovn-central:certificates
    - vault:certificates
  - - ovn-chassis:juju-info
    - incus:juju-info
  - - ovn-chassis:ovsdb
    - ovn-central:ovsdb
  - - ovn-chassis:certificates
    - vault:certificates
  - - incus:ovsdb-cms
    - ovn-central:ovsdb-cms
